<form action="/foxes" method="POST">
  <label for="fox-name">Name of the new fox:</label>
  <input type="text" name="fox[name]" id="fox-name">
  <label for="fox-color">Color of the new fox:</label>
  <input type="text" name="fox[color]" id="fox-color">
  <input type="submit" value="Submit!">
</form>
